<script>
 	 var placeSearch, autocomplete;
	  function initAutocomplete() {
		autocomplete = new google.maps.places.Autocomplete(
		   (document.getElementById('location')),
			{types: ['geocode']});
	  }
</script>
<!--AIzaSyDaSTUyBPMSS2Coh4L0caxl4A_gqYGXj7w-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlxk-SVihZ9g4MZMNssvxbPY4BDucwHXc&libraries=places&callback=initAutocomplete" async></script>
	
	<input class="" id="location" placeholder="" type="text">